In [1]:
import pandas as pd
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
pd_s = pd.Series([1,2,3,4,5])
type(pd_s)

pandas.core.series.Series

In [5]:
pd_l = [1,2,3,4,5]
pd_s1 = pd.Series(pd_l)
print(pd_s1)
type(pd_s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

pandas.core.series.Series

# 데이터프레임

## 1. 데이터프레임 생성

### - 1차원 리스트를 데이터프레임으로 변환

In [6]:
pd_s2 = pd.DataFrame(pd_l)
pd_s2

   0
0  1
1  2
2  3
3  4
4  5

In [9]:
# DF에 열 이름 추가
pd_s2['1열'] = ['a','b','c','d','e']
pd_s2

   0 1열
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e

In [10]:
# DF 컬럼 확인
pd_s2.columns

Index([0, '1열'], dtype='object')

In [12]:
# DF 열 이름 변경
pd_s3 = pd_s2.rename(columns = {0:'0열'})
pd_s3

   0열 1열
0   1  a
1   2  b
2   3  c
3   4  d
4   5  e

임의의 데이터프레임 생성할 때 딕셔너리 활용하면 굿!
리스트로 하면 항상 인덱스 값이 0, 1...이기 때문에 ~

In [13]:
temp_df = pd.DataFrame({
    'A' : [1,2,3],
    'B' : ['A', 'B', 'C']
})
temp_df

   A  B
0  1  A
1  2  B
2  3  C

### - 2차원 리스트를 데이터프레임으로 변환

In [14]:
score=[
 ['정약용', 70, 80, 100],
 ['이순신', 100, 80, 70],
 ['이율곡', 90, 95, 90]
]
print(type(score))
score

<class 'list'>

[['정약용', 70, 80, 100], ['이순신', 100, 80, 70], ['이율곡', 90, 95, 90]]

## 2. 데이터프레임 사용

## 3. 유용한 데이터프레임 조작 기능

## 데이터 가져오기

### loc : 인덱스 이름 기준으로 데이터 가져오기
- df의 인덱스 이름을 기준으로 원하는 만큼의 행 데이터를 가져올 수 있음
- 데이터프레임.loc[시작 인덱스 이름 : 종료 인덱스이름 : 증가값]

In [ ]:
# 인덱스 이름을 사용한 것이므로 5번까지 표시됨
titanic_df.loc[0:5]

# 그룹으로 묶기